ul#top-bar {
  position:fixed;
  top:0;
  width:100%;
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #303030;
}
ul#top-bar li {
  float:left; 
}
ul#top-bar li a {
  display: block;
  color:white;
  text-align:center;
  padding:10px 16px;
  text-decoration:none; 
}
ul#top-bar li a:hover {
  background-color: #000000;
}
